<div
class="TimelineItem pt-0 js-comment-container js-socket-channel js-updatable-content js-command-palette-issue-body"
data-gid="I_kwDODj8zp85clJZC"
data-url="/{{ klass.user.username }}/memoII_netatmo/issues/2/partials/body?issue=2"
data-channel="eyJjIjoiaXNzdWU6MTU1MzI0MTY2NiIsInQiOjE2NzQ3NjYxNzd9--5a99f1a8e10994d27c2a68c0e453e9fb6aab8b003b63aba745a2c2389ff733e4"
>
<div
  class="avatar-parent-child TimelineItem-avatar d-none d-md-block"
>
  <a
    class="d-inline-block"
    data-hovercard-type="user"
    data-hovercard-url="/users/{{ klass.user.username }}/hovercard"
    data-octo-click="hovercard-link-click"
    data-octo-dimensions="link_type:self"
    href="https://github.com/{{ klass.user.username }}"
    ><img
      class="avatar rounded-2 avatar-user"
      src="{{ user.profile_pic }}"
      alt="@{{ klass.user.username }}"
      width="40"
      height="40"
  /></a>
</div>

<div
  class="js-convert-task-to-issue-enabled convert-to-issue-enabled timeline-comment-group js-minimizable-comment-group js-targetable-element TimelineItem-body my-0"
  id="issue-1553241666"
>
  <div
    class="js-convert-task-to-issue-spinner loading-spinner ml-1 d-inline-block"
    hidden=""
  >
    <svg
      style="
        box-sizing: content-box;
        color: var(--color-icon-primary);
      "
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      data-view-component="true"
      class="v-align-text-bottom anim-rotate"
    >
      <circle
        cx="8"
        cy="8"
        r="7"
        stroke="currentColor"
        stroke-opacity="0.25"
        stroke-width="2"
        vector-effect="non-scaling-stroke"
      ></circle>
      <path
        d="M15 8a7.002 7.002 0 00-7-7"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        vector-effect="non-scaling-stroke"
      ></path>
    </svg>
  </div>
  <!-- '"` --><!-- </textarea></xmp> -->
  <form
    class="js-inline-convert-to-issue-form"
    data-turbo="false"
    action="/{{ klass.user.username }}/memoII_netatmo/issues"
    accept-charset="UTF-8"
    data-remote="true"
    method="post"
  >
    <input
      type="hidden"
      name="authenticity_token"
      value="cDO-sQ6MXkCuzl4fKCatoldpdjGPvYYX6FOlClXkD7_aNygYtbWCQk-apPzni5A2iunOwkplZplRQKERuOeIVA"
    />
    <input
      id="js-inline-convert-to-issue-title"
      name="issue[title]"
      hidden=""
    />
    <input
      name="convert_from_task"
      value="true"
      hidden=""
    />
    <input name="id" value="2" hidden="" />
    <input
      id="js-inline-convert-to-issue-position"
      type="hidden"
      name="position"
      value=""
    />
  </form>
  <button
    class="js-convert-to-issue-button convert-to-issue-button btn-link show-on-focus d-block position-absolute tooltipped tooltipped-n tooltipped-no-delay"
    aria-label="Convert to issue"
    type="button"
    hidden=""
  >
    <svg
      aria-hidden="true"
      height="16"
      viewBox="0 0 16 16"
      version="1.1"
      width="16"
      data-view-component="true"
      class="octicon octicon-issue-opened open"
    >
      <path
        d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
      ></path>
      <path
        fill-rule="evenodd"
        d="M8 0a8 8 0 100 16A8 8 0 008 0zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0z"
      ></path>
    </svg>
  </button>

  <button
    aria-label="Convert task list to block"
    type="button"
    data-view-component="true"
    class="js-convert-to-block-button convert-to-block-button btn-link show-on-focus tooltipped tooltipped-n tooltipped-no-delay btn d-block"
    hidden="hidden"
  >
    <svg
      aria-hidden="true"
      height="16"
      viewBox="0 0 16 16"
      version="1.1"
      width="16"
      data-view-component="true"
      class="octicon octicon-checklist"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 1.75a.25.25 0 01.25-.25h8.5a.25.25 0 01.25.25v7.736a.75.75 0 101.5 0V1.75A1.75 1.75 0 0011.25 0h-8.5A1.75 1.75 0 001 1.75v11.5c0 .966.784 1.75 1.75 1.75h3.17a.75.75 0 000-1.5H2.75a.25.25 0 01-.25-.25V1.75zM4.75 4a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zM4 7.75A.75.75 0 014.75 7h2a.75.75 0 010 1.5h-2A.75.75 0 014 7.75zm11.774 3.537a.75.75 0 00-1.048-1.074L10.7 14.145 9.281 12.72a.75.75 0 00-1.062 1.058l1.943 1.95a.75.75 0 001.055.008l4.557-4.45z"
      ></path>
    </svg>
  </button>
  <div
    class="js-convert-task-to-issue-data"
    data-tooltip-label-inline="Convert to issue"
    data-tooltip-label-open="Open convert to issue"
    data-tooltip-label-open-same-tab="Open convert to issue in current tab"
    data-url="/{{ klass.user.username }}/memoII_netatmo/issues/new"
    data-parent-issue-number="2"
    hidden=""
  ></div>

  <div
    class="ml-n3 timeline-comment unminimized-comment comment previewable-edit js-task-list-container editable-comment js-comment timeline-comment--caret reorderable-task-lists current-user"
    data-body-version="1bf91d3c1627a44a5ea407767f9d20256eeee239bd16f826f7a66ae7c4de3f1e"
  >
    <div
      class="timeline-comment-header clearfix d-flex"
    >
      <div
        class="timeline-comment-actions flex-shrink-0 d-flex flex-items-center"
      >
        <details
          class="details-overlay details-reset position-relative d-inline-block"
        >
          <summary
            data-view-component="true"
            class="timeline-comment-action Link--secondary Button--link Button--medium Button"
            aria-haspopup="menu"
            role="button"
          >
            <span class="Button-content">
              <span class="Button-label"
                ><svg
                  aria-label="Show options"
                  role="img"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-kebab-horizontal"
                >
                  <path
                    d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm13 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                  ></path></svg
              ></span>
            </span>
          </summary>

          <details-menu
            class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default"
            style="width: 185px"
            src="/{{ klass.user.username }}/memoII_netatmo/issues/2/actions_menu?gid=I_kwDODj8zp85clJZC&amp;href=%23issue-1553241666"
            preload=""
            role="menu"
          >
            <include-fragment
              class="js-comment-header-actions-deferred-include-fragment"
            >
              <p
                class="text-center mt-3"
                data-hide-on-error=""
              >
                <svg
                  aria-label="Loading..."
                  style="
                    box-sizing: content-box;
                    color: var(
                      --color-icon-primary
                    );
                  "
                  width="32"
                  height="32"
                  viewBox="0 0 16 16"
                  fill="none"
                  data-view-component="true"
                  class="anim-rotate"
                >
                  <circle
                    cx="8"
                    cy="8"
                    r="7"
                    stroke="currentColor"
                    stroke-opacity="0.25"
                    stroke-width="2"
                    vector-effect="non-scaling-stroke"
                  ></circle>
                  <path
                    d="M15 8a7.002 7.002 0 00-7-7"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    vector-effect="non-scaling-stroke"
                  ></path>
                </svg>
              </p>
              <p
                class="ml-1 mb-2 mt-2"
                data-show-on-error=""
                hidden=""
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-alert"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"
                  ></path>
                </svg>
                Sorry, something went wrong.
              </p>
              <button
                type="button"
                class="dropdown-item btn-link js-comment-quote-reply"
                data-hotkey="r"
                role="menuitem"
              >
                Quote reply
              </button>
            </include-fragment>
          </details-menu>
        </details>
      </div>

      <div class="d-none d-sm-flex"></div>

      <h3
        class="f5 text-normal"
        style="flex: 1 1 auto"
      >
        <div>
          <strong class="css-truncate">
            <a
              class="author Link--primary text-bold css-truncate-target"
              show_full_name="false"
              data-hovercard-type="user"
              data-hovercard-url="/users/{{ klass.user.username }}/hovercard"
              data-octo-click="hovercard-link-click"
              data-octo-dimensions="link_type:self"
              href="https://github.com/{{ klass.user.username }}"
              >{{ klass.user.username }}</a
            >
          </strong>

          commented

          <a
            href="#issue-1553241666"
            id="issue-1553241666-permalink"
            class="Link--secondary js-timestamp"
            >on {{ klass.post_date }}</a
          >
        </div>
      </h3>
    </div>

    <div class="edit-comment-hide">
      <task-lists sortable="">
        <table
          class="d-block user-select-contain"
          data-paste-markdown-skip=""
        >
          <tbody class="d-block">
            <tr class="d-block">
              <td
                class="d-block comment-body markdown-body js-comment-body"
              >
                <h3 dir="auto">
                  description of the problem
                </h3>
                <p dir="auto">{{ klass.description }}</p>
                <h3 dir="auto">
                  steps to reproduce
                </h3>
                <p dir="auto">{{ klass.reproduction }}</p>
                <h3 dir="auto">
                  expected result
                </h3>
                <p dir="auto">{{ klass.expected }}</p>
                <h3 dir="auto">
                  actual result
                </h3>
                <p dir="auto">{{ klass.actual }}</p>
              </td>
            </tr>
            <tr
              class="d-block pl-3 pr-3 pb-3 js-comment-body-error"
              hidden=""
            >
              <td class="d-block">
                <div
                  class="flash flash-warn"
                  role="alert"
                >
                  <p class="mb-1">
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      data-view-component="true"
                      class="octicon octicon-info"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"
                      ></path>
                    </svg>
                    The text was updated
                    successfully, but these
                    errors were encountered:
                  </p>
                  <ol
                    class="mb-0 pl-4 ml-4"
                  ></ol>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </task-lists>

      <div class="pr-review-reactions">
        <div
          data-view-component="true"
          class="comment-reactions js-reactions-container js-reaction-buttons-container social-reactions reactions-container flex-row-reverse flex-justify-end d-none"
        >
          <!-- '"` --><!-- </textarea></xmp> -->
          <form
            class="js-pick-reaction"
            data-turbo="false"
            action="/{{ klass.user.username }}/memoII_netatmo/reactions"
            accept-charset="UTF-8"
            method="post"
          >
            <input
              type="hidden"
              name="_method"
              value="put"
              autocomplete="off"
            /><input
              type="hidden"
              name="authenticity_token"
              value="IWl1FMyAVSB1an3cG6obfrSoAQdvaWSv9hi0NyQvqgfakfOwUI2_9JNnDrJk7CJ2H2piOFlHuN-GuvGYAKtzNw"
              autocomplete="off"
            />
            <input
              type="hidden"
              name="input[subjectId]"
              value="I_kwDODj8zp85clJZC"
            />
            <input
              type="hidden"
              name="input[context]"
              value=""
            />
            <div
              class="js-comment-reactions-options d-flex flex-items-center flex-row flex-wrap"
            >
              <div
                class="js-reactions-container"
              >
                <details
                  class="dropdown details-reset details-overlay d-inline-block js-all-reactions-popover"
                  hidden=""
                >
                  <summary
                    aria-haspopup="true"
                    data-view-component="true"
                    class="Button--link Button--medium Button"
                  >
                    <span
                      class="Button-content"
                    >
                      <span class="Button-label"
                        >All reactions</span
                      >
                    </span>
                  </summary>

                  <ul
                    class="dropdown-menu dropdown-menu-se"
                  ></ul>
                </details>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- '"` --><!-- </textarea></xmp> -->
    <form
      class="js-comment-update"
      id="issue-1553241666-edit-form"
      data-turbo="false"
      action="/{{ klass.user.username }}/memoII_netatmo/issues/2"
      accept-charset="UTF-8"
      method="post"
    >
      <input
        type="hidden"
        name="_method"
        value="put"
        autocomplete="off"
      /><input
        type="hidden"
        name="authenticity_token"
        value="E7JS9k5N-3XRAvjoyHA8yulexayRbTOJOzuch6J4B1VsLNcxMqzAFzKWxnDNbunIUau5rSBrhlDHmAPDEQOoiQ"
      />
      <div
        class="js-previewable-comment-form previewable-comment-form write-selected"
        data-preview-url="/preview?issue=1553241666&amp;markdown_unsupported=false&amp;repository=239023015&amp;subject_type=Issue"
      >
        <input
          type="hidden"
          value="Y1U4NwS58r0AHLIC0sn3oZ7CukiZwkKm0TddfLykG8kMLkUtO6736A7t4AfUZoF6RWa66fHx_tsgr639Yxb_jQ"
          data-csrf="true"
          class="js-data-preview-url-csrf"
        />

        <div
          class="comment-form-head tabnav d-flex flex-justify-between mb-2"
        >
          <nav
            class="tabnav-tabs"
            role="tablist"
            aria-label="Preview"
          >
            <button
              type="button"
              class="btn-link tabnav-tab write-tab js-write-tab selected"
              role="tab"
              aria-selected="true"
            >
              Write
            </button>
            <button
              type="button"
              class="btn-link tabnav-tab preview-tab js-preview-tab"
              role="tab"
            >
              Preview
            </button>
          </nav>

          <markdown-toolbar
            role="toolbar"
            aria-label="Composition"
            for="issue-1553241666-body"
            data-view-component="true"
            class="js-details-container Details toolbar-commenting no-wrap d-flex px-2 flex-items-start flex-wrap"
            tabindex="0"
          >
            <div
              class="flex-nowrap d-inline-block mr-3"
            >
              <md-header
                aria-label="Heading"
                id="md-heading-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon"
                data-ga-click="Markdown Toolbar, click, header"
                aria-describedby="tooltip-429a6d57-0632-49f3-9eb1-280532074b57"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-heading"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3.75 2a.75.75 0 01.75.75V7h7V2.75a.75.75 0 011.5 0v10.5a.75.75 0 01-1.5 0V8.5h-7v4.75a.75.75 0 01-1.5 0V2.75A.75.75 0 013.75 2z"
                  ></path>
                </svg>
              </md-header>
              <tool-tip
                id="tooltip-429a6d57-0632-49f3-9eb1-280532074b57"
                for="md-heading-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add heading text</tool-tip
              >

              <md-bold
                aria-label="Bold"
                id="md-bold-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+b"
                data-ga-click="Markdown Toolbar, click, bold"
                aria-describedby="tooltip-2e771794-9ca5-41d1-b718-b598c635b824"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-bold"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 2a1 1 0 00-1 1v10a1 1 0 001 1h5.5a3.5 3.5 0 001.852-6.47A3.5 3.5 0 008.5 2H4zm4.5 5a1.5 1.5 0 100-3H5v3h3.5zM5 9v3h4.5a1.5 1.5 0 000-3H5z"
                  ></path>
                </svg>
              </md-bold>
              <tool-tip
                id="tooltip-2e771794-9ca5-41d1-b718-b598c635b824"
                for="md-bold-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add bold text,
                &lt;Ctrl+b&gt;</tool-tip
              >

              <md-italic
                aria-label="Italic"
                id="md-italic-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+i"
                data-ga-click="Markdown Toolbar, click, italic"
                aria-describedby="tooltip-4dca91c9-7a29-4077-941d-774c38a80aea"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-italic"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 2.75A.75.75 0 016.75 2h6.5a.75.75 0 010 1.5h-2.505l-3.858 9H9.25a.75.75 0 010 1.5h-6.5a.75.75 0 010-1.5h2.505l3.858-9H6.75A.75.75 0 016 2.75z"
                  ></path>
                </svg>
              </md-italic>
              <tool-tip
                id="tooltip-4dca91c9-7a29-4077-941d-774c38a80aea"
                for="md-italic-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add italic text,
                &lt;Ctrl+i&gt;</tool-tip
              >
            </div>

            <div class="d-inline-block mr-3">
              <md-quote
                aria-label="Quote"
                id="md-quote-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon p-1"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+Shift+."
                data-ga-click="Markdown Toolbar, click, quote"
                aria-describedby="tooltip-b59437d4-9e68-4830-a2d0-0a87d30857eb"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-quote"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.75 2.5a.75.75 0 000 1.5h10.5a.75.75 0 000-1.5H1.75zm4 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM2.5 7.75a.75.75 0 00-1.5 0v6a.75.75 0 001.5 0v-6z"
                  ></path>
                </svg>
              </md-quote>
              <tool-tip
                id="tooltip-b59437d4-9e68-4830-a2d0-0a87d30857eb"
                for="md-quote-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add a quote,
                &lt;Ctrl+Shift+.&gt;</tool-tip
              >

              <md-code
                aria-label="Code"
                id="md-code-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon p-1"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+e"
                data-ga-click="Markdown Toolbar, click, code"
                aria-describedby="tooltip-0b4feb0d-6bda-4522-bf05-e73a8c8fb324"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-code"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z"
                  ></path>
                </svg>
              </md-code>
              <tool-tip
                id="tooltip-0b4feb0d-6bda-4522-bf05-e73a8c8fb324"
                for="md-code-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add code,
                &lt;Ctrl+e&gt;</tool-tip
              >

              <md-link
                aria-label="Link"
                id="md-link-issue-1553241666-body-2"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon p-1 d-inline-block"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+k"
                data-ga-click="Markdown Toolbar, click, link"
                aria-describedby="tooltip-c01b5dae-8923-4839-8196-887199d5f549"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-link"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"
                  ></path>
                </svg>
              </md-link>
              <tool-tip
                id="tooltip-c01b5dae-8923-4839-8196-887199d5f549"
                for="md-link-issue-1553241666-body-2"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add a link,
                &lt;Ctrl+k&gt;</tool-tip
              >
            </div>

            <div class="d-inline-block mr-3">
              <md-unordered-list
                aria-label="Unordered list"
                id="md-unordered_list-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+Shift+8"
                data-ga-click="Markdown Toolbar, click, unordered list"
                aria-describedby="tooltip-fc0999fa-12b3-4293-85a3-4c9a9ada2282"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-list-unordered"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z"
                  ></path>
                </svg>
              </md-unordered-list>
              <tool-tip
                id="tooltip-fc0999fa-12b3-4293-85a3-4c9a9ada2282"
                for="md-unordered_list-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add a bulleted list,
                &lt;Ctrl+Shift+8&gt;</tool-tip
              >

              <md-ordered-list
                aria-label="Numbered list"
                id="md-ordered_list-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+Shift+7"
                data-ga-click="Markdown Toolbar, click, ordered list"
                aria-describedby="tooltip-9efd2ca7-c057-4b07-88f9-8700631a8412"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-list-ordered"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.003 2.5a.5.5 0 00-.723-.447l-1.003.5a.5.5 0 00.446.895l.28-.14V6H.5a.5.5 0 000 1h2.006a.5.5 0 100-1h-.503V2.5zM5 3.25a.75.75 0 01.75-.75h8.5a.75.75 0 010 1.5h-8.5A.75.75 0 015 3.25zm0 5a.75.75 0 01.75-.75h8.5a.75.75 0 010 1.5h-8.5A.75.75 0 015 8.25zm0 5a.75.75 0 01.75-.75h8.5a.75.75 0 010 1.5h-8.5a.75.75 0 01-.75-.75zM.924 10.32l.003-.004a.851.851 0 01.144-.153A.66.66 0 011.5 10c.195 0 .306.068.374.146a.57.57 0 01.128.376c0 .453-.269.682-.8 1.078l-.035.025C.692 11.98 0 12.495 0 13.5a.5.5 0 00.5.5h2.003a.5.5 0 000-1H1.146c.132-.197.351-.372.654-.597l.047-.035c.47-.35 1.156-.858 1.156-1.845 0-.365-.118-.744-.377-1.038-.268-.303-.658-.484-1.126-.484-.48 0-.84.202-1.068.392a1.858 1.858 0 00-.348.384l-.007.011-.002.004-.001.002-.001.001a.5.5 0 00.851.525zM.5 10.055l-.427-.26.427.26z"
                  ></path>
                </svg>
              </md-ordered-list>
              <tool-tip
                id="tooltip-9efd2ca7-c057-4b07-88f9-8700631a8412"
                for="md-ordered_list-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add a numbered list,
                &lt;Ctrl+Shift+7&gt;</tool-tip
              >

              <md-task-list
                aria-label="Task list"
                id="md-task_list-issue-1553241666-body-1"
                role="button"
                tabindex="-1"
                class="toolbar-item btn-octicon"
                data-hotkey-scope="issue-1553241666-body"
                data-hotkey="Control+Shift+l"
                data-ga-click="Markdown Toolbar, click, task list"
                aria-describedby="tooltip-1825e4c4-a54c-4b84-b5c9-4c287e58542e"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-tasklist"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.5 3.5v3h3v-3h-3zM2 2a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V3a1 1 0 00-1-1H2zm4.655 8.595a.75.75 0 010 1.06L4.03 14.28a.75.75 0 01-1.06 0l-1.5-1.5a.75.75 0 111.06-1.06l.97.97 2.095-2.095a.75.75 0 011.06 0zM9.75 2.5a.75.75 0 000 1.5h5.5a.75.75 0 000-1.5h-5.5zm0 5a.75.75 0 000 1.5h5.5a.75.75 0 000-1.5h-5.5zm0 5a.75.75 0 000 1.5h5.5a.75.75 0 000-1.5h-5.5z"
                  ></path>
                </svg>
              </md-task-list>
              <tool-tip
                id="tooltip-1825e4c4-a54c-4b84-b5c9-4c287e58542e"
                for="md-task_list-issue-1553241666-body-1"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add a task list,
                &lt;Ctrl+Shift+l&gt;</tool-tip
              >
            </div>

            <div class="d-inline-block">
              <md-mention
                aria-label="Mention"
                role="button"
                id="md-mention-issue-1553241666-body"
                tabindex="-1"
                class="flex-auto text-center toolbar-item btn-octicon p-1 mx-1"
                data-ga-click="Markdown Toolbar, click, mention"
                aria-describedby="tooltip-edf4e488-46f7-40bd-961f-639d1c95b154"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-mention"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.75 2.37a6.5 6.5 0 006.5 11.26.75.75 0 01.75 1.298 8 8 0 113.994-7.273.754.754 0 01.006.095v1.5a2.75 2.75 0 01-5.072 1.475A4 4 0 1112 8v1.25a1.25 1.25 0 002.5 0V7.867a6.5 6.5 0 00-9.75-5.496V2.37zM10.5 8a2.5 2.5 0 10-5 0 2.5 2.5 0 005 0z"
                  ></path>
                </svg>
              </md-mention>
              <tool-tip
                id="tooltip-edf4e488-46f7-40bd-961f-639d1c95b154"
                for="md-mention-issue-1553241666-body"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="sr-only position-absolute"
                role="tooltip"
                >Directly mention a user or
                team</tool-tip
              >

              <md-ref
                role="button"
                id="md-ref-issue-1553241666-body"
                aria-label="Issue or pull request reference"
                tabindex="-1"
                class="flex-auto text-center toolbar-item btn-octicon p-1 mx-1"
                data-ga-click="Markdown Toolbar, click, reference"
                aria-describedby="tooltip-29a67673-954a-4615-b5f9-5e3f94f3ab7a"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-cross-reference"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16 1.25v4.146a.25.25 0 01-.427.177L14.03 4.03l-3.75 3.75a.75.75 0 11-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0111.604 1h4.146a.25.25 0 01.25.25zM2.75 3.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 01.75.75v2.19l2.72-2.72a.75.75 0 01.53-.22h4.5a.25.25 0 00.25-.25v-2.5a.75.75 0 111.5 0v2.5A1.75 1.75 0 0113.25 13H9.06l-2.573 2.573A1.457 1.457 0 014 14.543V13H2.75A1.75 1.75 0 011 11.25v-7.5C1 2.784 1.784 2 2.75 2h5.5a.75.75 0 010 1.5h-5.5z"
                  ></path>
                </svg>
              </md-ref>
              <tool-tip
                id="tooltip-29a67673-954a-4615-b5f9-5e3f94f3ab7a"
                for="md-ref-issue-1553241666-body"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="sr-only position-absolute"
                role="tooltip"
                >Reference an issue or pull
                request</tool-tip
              >

              <details
                class="details-overlay details-reset js-saved-reply-container select-menu select-menu-modal-right flex-auto toolbar-item btn-octicon text-center p-2 p-md-1 mx-1"
                tabindex="-1"
              >
                <summary
                  id="saved-reply-issue-1553241666-body"
                  data-md-button=""
                  tabindex="-1"
                  class=""
                  aria-label="Reply"
                  data-ga-click="Markdown Toolbar, click, saved reply"
                  aria-haspopup="menu"
                  role="button"
                  aria-describedby="tooltip-4b7b02eb-2a87-4a72-a93d-237a0490a31d"
                >
                  <svg
                    aria-hidden="true"
                    height="16"
                    viewBox="0 0 16 16"
                    version="1.1"
                    width="16"
                    data-view-component="true"
                    class="octicon octicon-reply"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.78 1.97a.75.75 0 010 1.06L3.81 6h6.44A4.75 4.75 0 0115 10.75v2.5a.75.75 0 01-1.5 0v-2.5a3.25 3.25 0 00-3.25-3.25H3.81l2.97 2.97a.75.75 0 11-1.06 1.06L1.47 7.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0z"
                    ></path>
                  </svg>
                </summary>

                <details-menu
                  style="z-index: 99"
                  class="select-menu-modal position-absolute right-0 js-saved-reply-menu"
                  data-menu-input="issue-1553241666-body_saved_reply_id"
                  src="/settings/replies?context=issue"
                  preload=""
                  role="menu"
                >
                  <div
                    class="select-menu-header d-flex"
                  >
                    <span
                      class="select-menu-title flex-auto"
                      >Select a reply</span
                    >
                    <code
                      ><span
                        class="border rounded p-1 mr-2"
                        >ctrl .</span
                      ></code
                    >
                  </div>

                  <include-fragment
                    role="menuitem"
                    aria-label="Loading"
                  >
                    <svg
                      style="
                        box-sizing: content-box;
                        color: var(
                          --color-icon-primary
                        );
                      "
                      width="32"
                      height="32"
                      viewBox="0 0 16 16"
                      fill="none"
                      data-view-component="true"
                      class="my-6 mx-auto d-block anim-rotate"
                    >
                      <circle
                        cx="8"
                        cy="8"
                        r="7"
                        stroke="currentColor"
                        stroke-opacity="0.25"
                        stroke-width="2"
                        vector-effect="non-scaling-stroke"
                      ></circle>
                      <path
                        d="M15 8a7.002 7.002 0 00-7-7"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        vector-effect="non-scaling-stroke"
                      ></path>
                    </svg>
                  </include-fragment>
                </details-menu>
              </details>
              <tool-tip
                id="tooltip-4b7b02eb-2a87-4a72-a93d-237a0490a31d"
                for="saved-reply-issue-1553241666-body"
                data-direction="sw"
                data-type="description"
                data-view-component="true"
                class="js-modifier-label-key sr-only position-absolute"
                role="tooltip"
                >Add saved reply</tool-tip
              >
            </div>
          </markdown-toolbar>
        </div>

        <div class="clearfix"></div>

        <p
          class="comment-form-error comment-show-stale"
        >
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-alert"
          >
            <path
              fill-rule="evenodd"
              d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"
            ></path>
          </svg>
          The content you are editing has
          changed. Please copy your edits and
          refresh the page.
        </p>

        <file-attachment
          class="js-upload-markdown-image is-default"
          input="fc-issue-1553241666-body"
          data-upload-repository-id="239023015"
          data-upload-policy-url="/upload/policies/assets"
          ><input
            type="hidden"
            value="_gg2b4ApmAN_wdvxaVaOLWZcXAXsjjdcP4DTMd3NFa9dxK6DVTAbC_edfWNDwNm7iOOswHzRzNf6PSNxvnIRYw"
            data-csrf="true"
            class="js-data-upload-policy-url-csrf"
          />
          <div
            class="write-content js-write-bucket upload-enabled"
          >
            <input
              type="hidden"
              name="context"
              value=""
            />
            <input
              type="text"
              name="required_field_0b85"
              class="form-control"
              hidden="hidden"
            /><input
              type="hidden"
              name="timestamp"
              value="1674766177377"
              autocomplete="off"
              class="form-control"
            /><input
              type="hidden"
              name="timestamp_secret"
              value="ed580f91d9ecea1f595e6dbc82e50d015d4e1e8a0864e41610a1bd6ca1984e00"
              autocomplete="off"
              class="form-control"
            />

            <input
              type="hidden"
              name="issue[id]"
              value="1553241666"
            />
            <input
              type="hidden"
              name="issue[bodyVersion]"
              class="js-body-version"
              value="1bf91d3c1627a44a5ea407767f9d20256eeee239bd16f826f7a66ae7c4de3f1e"
            />

            <text-expander
              keys=": @ #"
              data-emoji-url="/autocomplete/emoji"
              data-issue-url="/suggestions/issue/1553241666?issue_suggester=1&amp;repository=memoII_netatmo&amp;user_id={{ klass.user.username }}"
              data-mention-url="/suggestions/issue/1553241666?mention_suggester=1&amp;repository=memoII_netatmo&amp;user_id={{ klass.user.username }}"
              multiword="#"
            >
              <textarea
                name="issue[body]"
                id="issue-1553241666-body"
                placeholder="Leave a comment"
                aria-label="Comment body"
                class="form-control input-contrast comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit js-size-to-fit js-session-resumable js-saved-reply-shortcut-comment-field input-monospace"
              >
###
description of the problem

The middle elevator does not work when pressing the wheelchair button.
The top screen remains black.

### steps to reproduce

Press the wheelchair button and wait for an hour or so...

### expected result

I would expect the elevator to start moving to the requested floor and
eventually arrive, so access with a wheelchair is possible.

### actual result

The elevator never shows up. Pressing the wheelchair button does nothing
except the red light showing up while pressing. Not even one of the
other elevators shows up.</textarea
              >
            </text-expander>

            <label
              class="text-normal drag-and-drop hx_drag-and-drop position-relative d-flex flex-justify-between"
            >
              <input
                accept=".gif,.jpeg,.jpg,.mov,.mp4,.png,.svg,.webm,.csv,.docx,.fodg,.fodp,.fods,.fodt,.gz,.log,.md,.odf,.odg,.odp,.ods,.odt,.patch,.pdf,.pptx,.tgz,.txt,.xls,.xlsx,.zip"
                type="file"
                multiple=""
                class="manual-file-chooser manual-file-chooser-transparent top-0 right-0 bottom-0 left-0 width-full ml-0 form-control rounded-top-0"
                id="fc-issue-1553241666-body"
              />
              <span
                class="color-bg-subtle position-absolute top-0 left-0 rounded-bottom-2 width-full height-full"
                style="pointer-events: none"
              ></span>
              <span
                class="position-relative pr-2"
                style="pointer-events: none"
              >
                <span class="default">
                  Attach files by dragging &amp;
                  dropping, selecting or pasting
                  them.
                </span>
                <span class="loading">
                  <svg
                    style="
                      box-sizing: content-box;
                      color: var(
                        --color-icon-primary
                      );
                    "
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    data-view-component="true"
                    class="v-align-text-bottom mr-1 anim-rotate"
                  >
                    <circle
                      cx="8"
                      cy="8"
                      r="7"
                      stroke="currentColor"
                      stroke-opacity="0.25"
                      stroke-width="2"
                      vector-effect="non-scaling-stroke"
                    ></circle>
                    <path
                      d="M15 8a7.002 7.002 0 00-7-7"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      vector-effect="non-scaling-stroke"
                    ></path>
                  </svg>
                  <span
                    class="js-file-upload-loading-text"
                    data-file-upload-message="Uploading your files…"
                  >
                    Uploading your files…
                  </span>
                </span>
                <span class="error bad-file">
                  We don’t support that file
                  type.
                  <span
                    class="drag-and-drop-error-info"
                  >
                    <span class="btn-link"
                      >Try again</span
                    >
                    with a GIF, JPEG, JPG, MOV,
                    MP4, PNG, SVG, WEBM, CSV,
                    DOCX, FODG, FODP, FODS,
                    FODT, GZ, LOG, MD, ODF, ODG,
                    ODP, ODS, ODT, PATCH, PDF,
                    PPTX, TGZ, TXT, XLS, XLSX or
                    ZIP.
                  </span>
                </span>
                <span
                  class="error bad-permissions"
                >
                  Attaching documents requires
                  write permission to this
                  repository.
                  <span
                    class="drag-and-drop-error-info"
                  >
                    <span class="btn-link"
                      >Try again</span
                    >
                    with a GIF, JPEG, JPG, MOV,
                    MP4, PNG, SVG, WEBM, CSV,
                    DOCX, FODG, FODP, FODS,
                    FODT, GZ, LOG, MD, ODF, ODG,
                    ODP, ODS, ODT, PATCH, PDF,
                    PPTX, TGZ, TXT, XLS, XLSX or
                    ZIP.
                  </span>
                </span>
                <span
                  class="error repository-required"
                >
                  We don’t support that file
                  type.
                  <span
                    class="drag-and-drop-error-info"
                  >
                    <span class="btn-link"
                      >Try again</span
                    >
                    with a GIF, JPEG, JPG, MOV,
                    MP4, PNG, SVG, WEBM, CSV,
                    DOCX, FODG, FODP, FODS,
                    FODT, GZ, LOG, MD, ODF, ODG,
                    ODP, ODS, ODT, PATCH, PDF,
                    PPTX, TGZ, TXT, XLS, XLSX or
                    ZIP.
                  </span>
                </span>
                <span
                  class="error too-big js-upload-too-big"
                >
                </span>
                <span class="error empty">
                  This file is empty.
                  <span
                    class="drag-and-drop-error-info"
                  >
                    <span class="btn-link"
                      >Try again</span
                    >
                    with a file that’s not
                    empty.
                  </span>
                </span>
                <span class="error hidden-file">
                  This file is hidden.
                  <span
                    class="drag-and-drop-error-info"
                  >
                    <span class="btn-link"
                      >Try again</span
                    >
                    with another file.
                  </span>
                </span>
                <span
                  class="error failed-request"
                >
                  Something went really wrong,
                  and we can’t process that
                  file.
                  <span
                    class="drag-and-drop-error-info"
                  >
                    <span class="btn-link"
                      >Try again.</span
                    >
                  </span>
                </span>
              </span>
              <a
                class="Link--muted position-relative d-inline"
                href="https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax"
                target="_blank"
                data-ga-click="Markdown Toolbar, click, help"
                id="dd_fc-issue-1553241666-body_md_link"
                aria-labelledby="tooltip-10ff7243-eee0-4866-9c9e-ab0620763e88"
              >
                <svg
                  aria-hidden="true"
                  height="16"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  data-view-component="true"
                  class="octicon octicon-markdown v-align-bottom"
                >
                  <path
                    fill-rule="evenodd"
                    d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"
                  ></path>
                </svg>
              </a>
              <tool-tip
                id="tooltip-10ff7243-eee0-4866-9c9e-ab0620763e88"
                for="dd_fc-issue-1553241666-body_md_link"
                data-direction="nw"
                data-type="label"
                data-view-component="true"
                class="sr-only position-absolute"
                aria-hidden="true"
                role="tooltip"
                >Styling with Markdown is
                supported</tool-tip
              >
            </label>
          </div>
        </file-attachment>

        <div class="preview-content">
          <div
            class="comment js-suggested-changes-container"
            data-thread-side=""
          >
            <div
              class="comment-body markdown-body js-preview-body"
            >
              <p>Nothing to preview</p>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <input
            type="hidden"
            name="comment_id"
            value="1553241666"
            class="js-comment-id"
          />
          <div
            class="form-actions comment-form-actions"
          >
            <button
              data-disable-with=""
              type="submit"
              data-view-component="true"
              class="btn-primary btn"
            >
              Update comment
            </button>
            <button
              data-confirm-text="Are you sure you want to discard your unsaved changes?"
              type="button"
              data-view-component="true"
              class="js-comment-cancel-button btn-danger btn"
            >
              Cancel
            </button>
          </div>
        </div>

        <div
          class="comment-form-error mb-2 js-comment-update-error"
          hidden=""
        ></div>
      </div>
    </form>
    <template
      class="js-convert-to-issue-save-error-toast"
    >
      <div
        class="position-fixed bottom-0 left-0 ml-5 mb-5 anim-fade-in fast Toast Toast--error"
        role="log"
        style="z-index: 101"
      >
        <span class="Toast-icon">
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-stop"
          >
            <path
              fill-rule="evenodd"
              d="M4.47.22A.75.75 0 015 0h6a.75.75 0 01.53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 01-.22.53l-4.25 4.25A.75.75 0 0111 16H5a.75.75 0 01-.53-.22L.22 11.53A.75.75 0 010 11V5a.75.75 0 01.22-.53L4.47.22zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5H5.31zM8 4a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 4zm0 8a1 1 0 100-2 1 1 0 000 2z"
            ></path>
          </svg>
        </span>
        <span class="Toast-content"
          >We are unable to convert the task to
          an issue at this time. Please try
          again.</span
        >
        <button
          class="Toast-dismissButton"
          type="button"
          aria-label="Close"
        >
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-x"
          >
            <path
              fill-rule="evenodd"
              d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"
            ></path>
          </svg>
        </button>
      </div>
    </template>
    <template
      class="js-convert-to-issue-update-error-toast"
      hidden=""
    >
      <div
        class="position-fixed bottom-0 left-0 ml-5 mb-5 anim-fade-in fast Toast Toast--warning"
        role="log"
        style="z-index: 101"
      >
        <span class="Toast-icon">
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-alert"
          >
            <path
              fill-rule="evenodd"
              d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"
            ></path>
          </svg>
        </span>
        <span class="Toast-content"
          ><span
            ><span>The issue </span><a></a
            ><span>
              was successfully created but we
              are unable to update the comment
              at this time.</span
            ></span
          ></span
        >
        <button
          class="Toast-dismissButton"
          type="button"
          aria-label="Close"
        >
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-x"
          >
            <path
              fill-rule="evenodd"
              d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"
            ></path>
          </svg>
        </button>
      </div>
    </template>
  </div>
</div>
</div>

<div>
<div
  id="js-timeline-progressive-loader"
></div>
