<div
class="js-timeline-item js-timeline-progressive-focus-container"
data-gid="LE_lADODj8zp85clJZCzwAAAAHwz6zY"
>
<div
  class="TimelineItem js-targetable-element"
  data-team-hovercards-enabled=""
  id="event-8335109336"
>
  <div class="TimelineItem-badge">
    <svg
      aria-hidden="true"
      height="16"
      viewBox="0 0 16 16"
      version="1.1"
      width="16"
      data-view-component="true"
      class="octicon octicon-tag color-fg-inherit"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z"
      ></path>
    </svg>
  </div>
  <div class="TimelineItem-body">
    <a
      class="d-inline-block"
      data-hovercard-type="user"
      data-octo-click="hovercard-link-click"
      data-octo-dimensions="link_type:self"
      href="https://github.com/{{ klass.user.username }}"
      ><img
        src="{{ klass.user.profile_pic }}"
        class="avatar avatar-user"
        alt="@/{{ klass.user.username }}"
        width="20"
        height="20"
    /></a>
    <a
      class="author Link--primary text-bold"
      data-hovercard-type="user"
      data-hovercard-url="/users/{{ klass.user.username }}/hovercard"
      data-octo-click="hovercard-link-click"
      data-octo-dimensions="link_type:self"
      href="https://github.com/{{ klass.user.username }}"
      >{{ klass.user.username }}</a
    >

    added

    <a
      id="label-95a259"
      href="https://github.com/{{ klass.user.username }}/memoII_netatmo/labels/priority%3A%20very%20low"
      data-name="priority: very low"
      style="
        --label-r: {{ klass.color.r}};
        --label-g: {{ klass.color.g}};
        --label-b: {{ klass.color.b}};
        --label-h: {{ klass.color.h}};
        --label-s: {{ klass.color.s}};
        --label-l: {{ klass.color.l}};
      "
      data-view-component="true"
      class="IssueLabel hx_IssueLabel d-inline-block v-align-middle"
    >{{ klass.name }}</a>
    label
    <a
      href="#event-8335109336"
      class="Link--secondary"
      >on {{ klass.post_date }}
      </a
    >
  </div>
</div>
